.intro {
    background: #f8f8f8;
    width:100vw;
    height: 80vh;
}

.introTitle {
    padding-top: 3rem;
    display:grid;
    justify-items: center;
   
}

.introTitle h1{
    margin: 0;
    font-size: 2.5rem;
    border-bottom: 5px solid #1d3977;
}

.introBox {
    width:100%;
    height:auto;
    padding:2rem 3rem 0 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

h3 {
    margin:0;
    padding-top:2rem;
    font-size:1.5rem;
    color:#ffffff;
    letter-spacing:2px;
}

.Plant {
    width:100%;
    height:40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:flex;
    flex-direction: column;
    align-items: center;
    background: url('http://drive.google.com/uc?export=view&id=1MD-iMn23dlnT1YNwLetyvkb_QjcVcEWr') center/cover no-repeat;
}

.Plant:hover {
    opacity: 0.8;
    transition: .7s ease;
}

.eachExplain {
    width:100%;
    height:100%;
    opacity: 0;
    transition:0.5s ease;
    font-size: 1.4rem;
    text-align: center;
    padding-top:1.2rem;
}

.eachExplain:hover {
  opacity: 1;
  color: #ffffff;
  padding-top:2rem;
}

.Experience {
  width:100%;
  height:40vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display:flex;
  flex-direction: column;
  align-items: center;
  background: url('http://drive.google.com/uc?export=view&id=1n1mJEzhpAjGtGRCIugVcrg9jtkswplW3') center/cover no-repeat;
}

.Experience:hover {
  opacity: 0.8;
  transition: .7s ease;
}

.Employees {
  width:100%;
  height:40vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display:flex;
  flex-direction: column;
  align-items: center;
  background: url('http://drive.google.com/uc?export=view&id=10mRmPfx9CDwLrdg7LnlD-1elLZpCytn3') center/cover no-repeat;
}

.Employees:hover {
  opacity: 0.8;
  transition: .7s ease;
}

.Fabrication {
 width:100%;
 height:40vh;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 display:flex;
 flex-direction: column;
 align-items: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
  url('http://drive.google.com/uc?export=view&id=1_d7wjHyOyAJmuALpOTRwk0BGbXiO2ud9') center/cover no-repeat;
}

.Fabrication:hover {
  opacity: 0.8;
  transition: 0.7s ease;
}

.introFooter {
    padding-top:3rem;
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

@media screen and (max-width:776px) {

  .intro {
    width:auto;
    height: 110vh;
  }

  .introTitle {
    padding:1rem 0 1rem 0;
  }

  .introTitle h1 {
    font-size: 2rem;
  }

  .introBox {
    width:100%;
    height:auto;
    padding: 0 0.5rem 0 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }

  .eachExplain {
    height: auto;
  }
  
  .Plant h3 {
    font-size:1rem;
  } 
  .Experience h3 {
    font-size:1rem;
  }
  .Employees h3 {
    font-size:1rem;
  }
  .Fabrication h3 {
    font-size:1rem;
  }

  .eachExplain {
    font-size:1rem;
  }

  .introFooter {
    padding-top:1rem;
    text-align: center;
    font-size: 1rem;
  }
  
}