.RegiBox {
      margin: 0;
      padding-left: 3rem;
      font-size: 1.4rem;
      margin: 0;
      line-height: 1.7;   
}

@media screen and (max-width:776px) {
  .RegiBox {
      padding: 1rem 1rem 1rem 1rem;
      text-align: center;
  }
  .RegiBox p {
        font-size: 0.8rem;
        margin: 0;
        text-align: center;
  }
}