.IntroMain {
    width:100%;
    height:40vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('http://drive.google.com/uc?export=view&id=1ncbJZlv4l7wmh3W_-07G1IqCn9QLYu9C') center/cover fixed no-repeat;
    display:grid;
    align-items:center;
    justify-items: center;
}

.IntroMain h1 {
    color:#ffffff;
    font-size: 2rem;
}

@media screen and (max-width:776px) {
    .IntroMain h1 {
        text-align: center;
        font-size: 1rem;
    }
}